@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 1.5rem;
}

.main{
    width: 97%;
    margin: 1rem auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.logo{
    height: 20px;
    margin-left: 0.5rem;
}

form{
    display: flex;
    flex-grow: 1;
    margin: 0 4rem 0 10rem;
}

input[type="search"]{
    width: 100%;
    height: 2rem;
    padding: 0.3rem;
    font-size: 1rem;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.search-btn{
    height: 2rem;
    padding: 0.3rem;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.icons-menu-haut{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    align-items: center;
}
.icons-menu-haut a{
    color: rgba(14, 14, 14, 0.822);
}

.icon-chaine{
    border-radius: 50%;
    background: #aaa;
}
.icon-menu{
    font-size: 2rem;
}

/* section principale style */

.section-principal{
    display: flex;
}

.menu-left{
    flex: 1;
    max-width: 18%;
    margin-top: 1.2rem;
}
.menu-right{
    flex: 1;
    background: #f9f9f9;
    padding: 1rem;
}

.menu-left ul{
    list-style: none;
    padding: 0;
}

.list{
    padding: 0.8rem 1.5rem;
}
li a{
    text-decoration: none;
    color: #535353;
}
.list-text{
    margin-left: 1.2rem;
}
li a{
    display: flex;
    align-items: center;
}
.list:hover, li.active{
    background: #ccc;
}

ul h2{
    padding: 0.5rem 1.5rem;
    color: rgb(163, 163, 163);
    font-size: 1rem;
    text-transform: uppercase;
}
.videos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(253px, 1fr));
    gap: 2rem 1rem;
}
.video{
    display: flex;
    flex-direction: column;
    position: relative;
}
.video::before{
    content: attr(data-duration);
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    bottom: 40%;
    right: 0.7rem;
}
.couverture-video{
    width: 100%;
    height: 100%;
    min-width: 253px;
    min-height: 142px;
    background: #aaa;
}
.section-bas-video{
    display: flex;
    margin-top: 0.6rem;
}

.detail-video{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
/*
.titre-de-video{
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nom-de-chaine, .meta-donnees{
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-size: 0.9rem;
    font-weight: 300;
}*/

  /*Main container// --Left Sidebar--  */

.main-container{
    display: flex;
    width: 100%;
}
.container1{
    display: inline-block;
    min-width: 18%;
    height: calc(100vh - 46px);
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    top: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container1 button{
    display: flex;
    border: none;
    background-color: white;
    width: 100%;
    align-items: center;
    cursor: pointer;
}
.container1 button img{
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin: 0%;
}
.container1 button svg{
    margin-left: 15px;
    margin-right: 15px;
    margin: 0%;
}
.container1 ::-webkit-scrollbar-track{
    background-color: transparent;
}
.container1 :hover ::-webkit-scrollbar-thumb{
    background-color: rgba(27, 11, 11, 0.2);
}
.container1 ::-webkit-scrollbar{
    background-color: transparent;
    width: 15px;
}
.container1 ::-webkit-scrollbar-thumb{
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: transparent;
    background-clip: content-box;
}
.box1{
    display: none;
}
.box1 hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 95%;
}
.box1 button :hover{
    background-color: rgb(235, 233, 233);
}
.box2 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;

}
.box2 hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 95%;

}
.box2 button :hover{
    background-color: rgb(235, 233, 233);
}
.box3 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box3 hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 95%;
}
.box3 button :hover{
    background-color: rgb(235, 233, 233);
}
.box4 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box4 hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 95%;
}
.box4 button :hover{
    background-color: rgb(235, 233, 233);
}
.box5 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box5 hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 95%;
}
.box5 button :hover{
    background-color: rgb(235, 233, 233);
}
.box6 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;

}
.box6 hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 95%;
}
.box6 button :hover{
    background-color: rgb(235, 233, 233);
}

.box7{
    margin: 10px 0;
    margin-left: 15px;
}
.box7 p{
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    color: #8b8888;
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: initial;
}
#google{
    margin-left: 15px;
    color: rgb(201,183,183);
}
.box7 button :hover{
    background-color: rgb(235, 233, 233);
}
/*VIDEOS EDITING*/
.video{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;

}
