@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
   margin: 0;
   padding: 0;
   font-family: 'poppins', sans-serif;
   box-sizing: border-box; 
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;

}
nav{
    box-shadow: 0 0 10px rgba(0, 0,0, 0.2);
    padding: 10px 2%;
    background: #fff;
    justify-content: space-between;
    z-index: 10;
    top: 0;
    position: sticky;
    
}
.nav-right .user-icon{
    width: 35px;
    margin-right: 0;
    border-radius: 100%;
}
.nav-right img{
    margin-right: 25px;
    width: 25px;
}

.nav-left .menu-icon{
    width: 22px;
    margin-right: 30px;
}
.nav-left .utube-logo{
    width: 130px;
    margin:10px ;

}
.nav-middle .search-box{
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-right: 16px;
    padding: 8px 12px;
}
.nav-middle .search-box input{
    border: 0;
    outline: 0;
    background: transparent;
    width: 400px;
}
.nav-middle .search-box img{
    width: 15px;
}
.nav-middle .voice-icon{
    width: 15px;
}

/*-----sidebar----*/
.sidebar{
    width: 15%;
    height: 100vh;
    position: fixed;
    background: #fff;
    padding-left: 2%;
    padding-top: 80px;
    top: 0;

    
}
.shortcut a img{
    width: 20px;
    margin-right: 20px;
}
.shortcut a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: fit-content;
}
.shortcut a:first-child{
    color: #ed3833;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}