@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 1.5rem;
}

.main{
    width: 97%;
    margin: 1rem auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.logo{
    height: 20px;
    margin-left: 0.5rem;
}

form{
    display: flex;
    flex-grow: 1;
    margin: 0 4rem 0 10rem;
}

input[type="search"]{
    width: 100%;
    height: 2rem;
    padding: 0.3rem;
    font-size: 1rem;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.search-btn{
    height: 2rem;
    padding: 0.3rem;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.icons-menu-haut{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    align-items: center;
}
.icons-menu-haut a{
    color: rgba(14, 14, 14, 0.822);
}

.icon-chaine{
    border-radius: 50%;
    background: #aaa;
}
.icon-menu{
    font-size: 2rem;
}

/* section principale style */

.section-principal{
    display: flex;
}

.menu-left{
    flex: 1;
    max-width: 18%;
    margin-top: 1.2rem;
}
.menu-right{
    flex: 1;
    background: #f9f9f9;
    padding: 1rem;
}

.menu-left ul{
    list-style: none;
    padding: 0;
}

.list{
    padding: 0.8rem 1.5rem;
}
li a{
    text-decoration: none;
    color: #535353;
}
.list-text{
    margin-left: 1.2rem;
}
li a{
    display: flex;
    align-items: center;
}
.list:hover, li.active{
    background: #ccc;
}

ul h2{
    padding: 0.5rem 1.5rem;
    color: rgb(163, 163, 163);
    font-size: 1rem;
    text-transform: uppercase;
}
.videos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(253px, 1fr));
    gap: 2rem 1rem;
}
.video{
    display: flex;
    flex-direction: column;
    position: relative;
}
.video::before{
    content: attr(data-duration);
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    bottom: 40%;
    right: 0.7rem;
}
.couverture-video{
    width: 100%;
    height: 100%;
    min-width: 253px;
    min-height: 142px;
    background: #aaa;
}
.section-bas-video{
    display: flex;
    margin-top: 0.6rem;
}

.detail-video{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
/*
.titre-de-video{
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nom-de-chaine, .meta-donnees{
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-size: 0.9rem;
    font-weight: 300;
}*/

  /*MAIN CONTAINER EDITING// --Left Sidebar--  */

.container1 {
    display: inline-block;
    min-width: 17.5%;
    height: calc(99vh - 46px);
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    top: 52px;
  }
  .main-container {
    display: flex;
    width: 100%;
  }
  .container1 button {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border: none;
  }
  .container1::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
  }
  .container1::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .container1 button svg {
    margin: 0%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .container1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: transparent;
    background-clip: content-box;
  }
  .container1:hover::-webkit-scrollbar-thumb {
    background-color: rgba(27, 11, 11, 0.2);
  }
 
  .container1 button img {
    margin: 0%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
  }
  .box1 {
    display: none;
  }
  .box3 h1 {
    color: #6a6a6a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 26px;
  }
  .box4 h1 {
    color: #6a6a6a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 26px;
  }
  .box5 h1 {
    color: #6a6a6a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 26px;
  }
  
  .box2,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6 {
    padding: 5px 0px;
    border-bottom: 1px solid rgb(233, 227, 227);
  }
  .box7 {
  }
  #last-text {
    margin: 10px 0;
    margin-left: 20px;
  }
  .box7 p {
    font-size: 12px;
    text-align: initial;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #8b8888;
  }
  #google {
    color: rgb(201, 183, 183);
    margin-left: 25px;
  }
  #homebutton {
    background-color: whitesmoke;
  }
  .container1 button:hover {
    background-color: rgb(235, 233, 233);
  }
  .box7 button:hover {
    background-color: white;
  }
  .container2 {
    background-color: whitesmoke;
    max-width: 82.5%;
  }
  .remove {
    display: none;
  }
  .container2 nav {
    vertical-align: top;
    border-bottom: 1px solid rgb(235, 233, 233);
    border-top: 1px solid rgb(235, 233, 233);
    padding: 12px 0;
    z-index: 2;
    background: white;
    opacity: 0.98;
    position: sticky;
    width: 100%;
    top: 49px;
    display: inline-block;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    
  }
  .container2 nav button {
    margin: 0 6px;
    margin-right: 0;
    border: 1px solid lightgrey;
    border-radius: 25px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 10px;
    background-color: #f3efef;
    cursor: pointer;
  }
  .container2 nav::-webkit-scrollbar {
    display: none;
  }
  .container2 nav button:hover {
    background-color: rgb(229, 227, 227);
    transition: background-color 0.2s ease;
  }
  .search:hover {
    background-color: rgb(229, 227, 227);
  }
  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 20px;
  }
  .contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .cookies {
    display: flex;
  }
  .contentbtn {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    margin-left: 10px;
    text-align: inherit;
  }
  .mainpic {
    width: 100%;
  }
  .text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .text p {
    display: flex;
    margin: 5px 0;
  }
  .videos h1 {
    font-size: 14px;
    margin: 0;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .videos p {
    font-size: 12px;
    margin: 2px 0;
    color: grey;
  }
  .cookies img {
    margin-top: 12px;
    margin-right: 12px;
    border-radius: 30px;
  }
  .contentbtn ~ img {
    width: 100%;
    height: 65%;
  }
  @media only screen and (max-width: 1200px) {
    .box2-alternative {
      display: block;
    }
    .box2,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7 {
      display: none;
    }
    .container2 {
      min-width: 8%;
    }
    #home-button:hover {
      background-color: rgb(229, 227, 227);
    }
    .container1 button {
      flex-direction: column;
      padding: 10px 0;
    }
    .box1 p {
      font-size: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .container2 {
      max-width: 92%;
    }
    #home-button {
      background-color: white;
    }
  }
  @media only screen and (max-width: 1100px) {
    .videos {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media only screen and (max-width: 800px) {
    .videos {
      grid-template-columns: 1fr 1fr;
    }
    .container1 {
      min-width: 8%;
    }
    .search-btn{
      display: none;
    }
    .material-icons .search{
      display: none;
    }
  }
  @media only screen and (max-width: 650px) {
    .container1::-webkit-scrollbar-track {
      display: none;
    }
    .box1 {
      display: none;
    }
    .container2{
      max-width: 100%;
    }
    .searchbar {
      width: 20vw;
    }
    .container2 nav button {
      margin: 0 px;
    }
  }
  @media only screen and (max-width: 600px) {
    .searchbar {
      display: none;
    }
    .search {
      display: none;
    }
    .search-icon {
      width: 24px;
      height: 24px;
    }
    .voiceicon {
      display: none;
    }
    .remove {
      display: block;
    }
  }
  @media only screen and (max-width: 500px) {
    .videos {
      grid-template-columns: 1fr;
    }
  }

